
  <script>
    var swiper = new Swiper('.swiper-container', {
     fadeEffect: { crossFade: true},
     effect: "fade",
       pagination: {
         el: '.swiper-pagination',
       },
       speed: 2000,
       autoplay: {
         delay: 3000,
         disableOnInteraction: false,
       },
     });
 </script>

  </body>
  </html>
  