<!-- @format -->

<div class="images">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/pexels-quang-nguyen-vinh-3355788.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/jared-rice-HN9X7gNreqA-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/lalo-hernandez-Amo081zdJsI-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/oliver-sjostrom-1mtPJuiteRI-unsplash.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/pexels-oliver-sjöström-1078983.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/pexels-elianne-dipp-4666754.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/pexels-francesco-ungaro-3410956.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="swiper-slide">
        <img
          class="slide-img"
          src="./images/pexels-jeremy-bishop-2765871.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
