<!-- @format -->
<%- include('./partials/header.ejs'); -%>

<div class="container">
  <div class="main-page">
    <div class="login-details">
      <h2>Travel Booker</h2>

      <form class="form-elements" action="/register" method="post">
        <%- include('./partials/messages.ejs') -%>
        <label for=""> Email </label>
        <input type="text" name="username" class="inp" placeholder="Email" />
        <label for="">Password</label>
        <input
          type="password"
          class="pass"
          placeholder="Enter password"
          name="date"
          autocomplete="current-password"
          required
        />

        <label for="">Confirm password</label>
        <input
          type="password"
          class="pass"
          placeholder="Confirm password"
          name="password2"
          required
        />
        <button type="submit">Register</button>
        <p>
          Already have an account?
          <a href="/">Login</a>
        </p>
      </form>
    </div>
    <%- include('./partials/slider.ejs'); -%>
  </div>
</div>

<%- include('./partials/footer.ejs'); -%>
